*{
    padding:0;
    margin:0;
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login{
    width:320px;
    height: 550px;
    box-shadow: 
    -10px -10px 15px rgba(0,0,0,0.3),
    10px 10px 15px rgba(0,0,0,0.3);
    overflow: hidden;
    border-radius: 20px;
}
.image_top{
    width:320px;
    height: 200px;
    background-image: url('background.png');
    background-size:cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}
h1{
    width:100px;
    color:#fff;
    padding-left: 20px;
}
.image_bottom{
    width:320px;
    height: 200px;
    background-image: url('Background\ bottom.png');
    background-size:cover;
    background-repeat: no-repeat;

}
form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding:20px 25px;
}
label{
    margin-top:15px;
}
input{
    margin-bottom: 10px;
    height: 25px;
    font-size: 18px;
    padding:0px 15px;
    border:none;
    outline:none;
    border-bottom: 1px solid #ccc;
}

::placeholder{
    font-size: 15px;
}
button{
    font-size: 18px;
    text-align: left;
    border: none;
    margin-top:20px;
}
span{
    font-size: 28px;
    color:rgb(23,207,148);
}
.bottom{
    display: flex;
    justify-content:space-between;
    padding:20px;
    font-size: 18px;
    color:#fff;
    text-decoration: underline;
    position: relative;
    top:100px;
}